body{
  background-image: url("pic/puppy.jpg");
}

#title{
  font-family: 'Pathway Gothic One', sans-serif;
}

#navbar{
  float:left;
  width:200px;
  background-color:lightgray;
  font-size: 30px;
  margin-right: 50px;
  height: 1000px;
}
.button{
  display:block;
  color:green;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
}
.button:hover{
  display:block;
  background-color: green;
  font-size: 30px;
  color: white;
  border-style: solid;
  border-width: 1px;
}
#photo{
  position: relative;
  float: left;
  margin-right: 5px;
  height:200px;
  width: 200px;
}
.wpho{
  position: relative;
  font-family: Arial;
  font-size: 25px;
}

.gallbox{
  /*position:absolute;
  top: 1200px;
  left:300px;*/
  clear: both;
  float:left;

}
  .transbox{
    position:relative;
    height: 400px;
    width: 400px;
    background-color: white;
    float:left;
    margin: 20px;
}
div.transbox img{
  height:300px;
  width:350px;
  padding-left: 25px;
  padding-top: 25px;
}
div.transbox p{
  font-size: 25px;
  font-family: Times;
  text-align: center;
}
